<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="loggingPattern"
		value="%date{ISO8601} %-5level %t %logger{0} : %M : %L - %msg%n" />

	<appender name="auction"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logs/auction/auction.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>auction.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${loggingPattern}</pattern>
		</encoder>
	</appender>

	<logger level="debug" additivity="false"
		name="org.bashirov.auction">
		<appender-ref ref="auction" />
	</logger>

	<root level="info">
		<appender-ref ref="auction" />
	</root>
</configuration>